---
version: '3.5'
services:
  # ------ POSTGRES SERVICE ------ #
  tfm-uoc-postgres:
    image: xalperte/postgres
    build:
      context: ./postgres
      dockerfile: Dockerfile
    ports:
      - 5432:5432
    hostname: tfm_uoc_postgres
    container_name: tfm_uoc_postgres
    environment:
      POSTGRES_PASSWORD: admin
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - tfm-uoc-backend
    restart: unless-stopped
  # ------ POSTGRES SERVICE ------ #

  # ------ SPARK & JUPYTER SERVICE ------ #
  tfm-uoc-spark:
      image: xalperte/all-pyspark-notebook
      build:
        context: ./jupyter
        dockerfile: Dockerfile
      ports:
        - "8888:8888"
        - "4040-4080:4040-4080"
      volumes:
        - ../tfm_uoc_crawling_system/src/notebooks:/home/jovyan/work/notebooks/
      networks:
        - tfm-uoc-backend
  # ------ SPARK & JUPYTER SERVICE ------ #

  # ------ REDIS SERVICE ------ #
  tfm-uoc-redis:
    image: redis:3.0
    # ports:
    #  - 6379:6379
    hostname: tfm_uoc_redis
    container_name: tfm_uoc_redis
    networks:
      - tfm-uoc-backend
    restart: unless-stopped
  # ------ REDIS SERVICE ------ #

  # ------ DSE CLUSTER SERVICE ------ #
  tfm-uoc-dse:
    image: datastax/dse-server:6.7.7
    ports:
      - 8983:8983
      - 9042:9042
    hostname: tfm_uoc_dse
    container_name: tfm_uoc_dse
    environment:
      - DS_LICENSE=accept
    # Allow DSE to lock memory with mlock
    cap_add:
      - IPC_LOCK
    ulimits:
      memlock: -1
    volumes:
      # - ./dse/cassandra.yaml:/opt/dse/resources/cassandra/conf/cassandra.yaml
      # - ./dse/cassandra.yaml:/opt/dse/resources/cassandra/conf/jvm.options
      - ./data/cassandra:/var/lib/cassandra
      - ./log/cassandra:/var/log/cassandra
      - ./dse:/config
    networks:
      - tfm-uoc-backend
    command: -s -g
    restart: unless-stopped
  # ------ DSE CLUSTER SERVICE ------ #

  # ------ TFM CRAWLING SERVICES ------ #
  tfm-uoc-crawling-system-app:
    image: xalperte/tfm-uoc-crawling-system:latest
    build:
      context: ../tfm_uoc_crawling_system
      dockerfile: environment/dev-local/Dockerfile
    ports:
      - 8005:8000
    depends_on:
      - tfm-uoc-postgres
      - tfm-uoc-redis
      - tfm-uoc-dse
    shm_size: 512mb
    environment:
      CACHE_DIR: gs://davinci_example_bovespa
      IO_GS_PROJECT: centering-badge-212119
      GOOGLE_APPLICATION_CREDENTIALS: /tfm_uoc_crawling_system/crawling-storage-cache.json
      LOGGING_FILE: /tfm_uoc_crawling_system/tfm_uoc_crawling_system_APP.log
    container_name: tfm_uoc_crawling_system_app
    hostname: tfm_uoc_crawling_system_app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ../tfm_uoc_crawling_system:/tfm_uoc_crawling_system
    networks:
      - tfm-uoc-backend

  tfm-uoc-crawling-system-producer:
    image: xalperte/tfm-uoc-crawling-system:latest
    build:
      context: ../tfm_uoc_crawling_system
      dockerfile: environment/dev-local/Dockerfile
    environment:
      DAVINCI_CACHE_DIR: gs://davinci_example_bovespa
      IO_GS_PROJECT: centering-badge-212119
      GOOGLE_APPLICATION_CREDENTIALS: /tfm_uoc_crawling_system/crawling-storage-cache.json
      LOGGING_FILE: /tfm_uoc_crawling_system/tfm_uoc_crawling_system_PRODUCER.log
    depends_on:
      - tfm-uoc-postgres
      - tfm-uoc-redis
      - tfm-uoc-dse
    shm_size: 512mb
    container_name: tfm_uoc_crawling_system_producer
    hostname: tfm_uoc_crawling_system_producer
    command: python manage.py crawl_params bovespa  --workers-num 15 --chromium-bin-file /usr/bin/chromium --io-gs-project centering-badge-212119 --cache-dir "gs://davinci_example_bovespa" --local-dir "fs:///tfm_uoc_crawling_system/cache" --include-companies 13773 4170 --crawling-initials P V
    volumes:
      - ../tfm_uoc_crawling_system:/tfm_uoc_crawling_system
      - ./cache:/tfm_uoc_crawling_system/cache
    networks:
      - tfm-uoc-backend

  tfm-uoc-crawling-system-consumer:
    image: xalperte/tfm-uoc-crawling-system:latest
    build:
      context: ../tfm_uoc_crawling_system
      dockerfile: environment/dev-local/Dockerfile
    environment:
      CACHE_DIR: gs://davinci_example_bovespa
      IO_GS_PROJECT: centering-badge-212119
      GOOGLE_APPLICATION_CREDENTIALS: /tfm_uoc_crawling_system/crawling-storage-cache.json
      LOGGING_FILE: /tfm_uoc_crawling_system/tfm_uoc_crawling_system_CONSUMER.log
    depends_on:
      - tfm-uoc-postgres
      - tfm-uoc-redis
      - tfm-uoc-dse
    shm_size: 512mb
    container_name: tfm_uoc_crawling_system_consumer
    hostname: tfm_uoc_crawling_system_consumer
    command: python manage.py crawl bovespa --workers-num 15 --chromium-bin-file /usr/bin/chromium --io-gs-project centering-badge-212119 --cache-dir "gs://davinci_example_bovespa" --local-dir "fs:///tfm_uoc_crawling_system/cache"
    volumes:
      - ../tfm_uoc_crawling_system:/tfm_uoc_crawling_system
      - ./cache:/tfm_uoc_crawling_system/cache
    networks:
      - tfm-uoc-backend
  # ------ TFM CRAWLING SERVICES ------ #

networks:
  tfm-uoc-backend:
    # Use a custom driver
    name: tfm-uoc-backend
    driver: bridge
